<table class="table table-striped" id="simple_table"
  data-source="<%= options.try(:[], :source_path) || send("#{class_type.name.underscore.pluralize}_path", { :format => :json, :only_path => false }) %>"
  data-sorting_column = "<%= options.try(:[], :sorting_column) || 0 %>"
  data-sorting_type = "<%= options.try(:[], :sorting_type) || 'asc' %>"
  data-disable_edit_delete = <%= options.try(:[], :disable_edit_delete) || false %>
  data-column_without_sorting = "<%= options.try(:[], :columns_without_sorting) || [] %>">
  <thead>
    <tr>
      <% if options.try(:[], :include_blank_th) %>
        <th></th>
      <% end %>
      <% columns.each do |column| %>
        <th><%= class_type.human_attribute_name(column) %></th>
      <% end %>
      <% unless options.try(:[], :disable_edit_delete) %>
        <th>Opcje pozycji</th>
      <% end %>
    </tr>
  </thead>
</table>