<% if model.any? %>
  <% name = model.first.class.name %>

  <table class="table table-striped" id="simple_table" 
    data-source="<%= send("#{name.underscore.pluralize}_path", { :format => :json, :only_path => false }) %>">
    <thead>
      <tr>
        <% columns.each do |column| %>
          <th><%= model.first.class.human_attribute_name(column) %></th>
        <% end %>
        <% unless options.try(:fetch, :disable_edit_delete) %>
          <th>Opcje pozycji</th>
        <% end %>
      </tr>
    </thead>
<!--     <tbody>
      <%# model.each do |item| %>
        <tr>
          <%# columns.each do |column| %>
            <td> <%#= item.try(column) %> </td>
          <%# end %>
          <%# unless options.try(:[], :disable_edit_delete) %>
            <td nowrap><%#= table_standard_buttons_tag(item) %></td>
          <%# end %>
        </tr>
      <%# end %>
    </tbody> -->
  </table>
<% end %>

<%= javascript_tag do %>
  window.sorting_column = '<%= options.try(:[], :sorting_column) || 0 %>';
  window.sorting_type = '<%= options.try(:[], :sorting_type) || "asc" %>'
<% end %>